<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>App Name</title>

        <!-- LINK:CSS:START -->
        <!-- LINK:CSS:END -->

        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>

        <!-- JAVASCRIPT -->

        <!-- LINK:JS:IE8:START -->
        <!-- LINK:JS:IE8:END -->

        <!-- LINK:JS:IE:START -->
        <!-- LINK:JS:IE:END -->

        <!-- LINK:JS:START -->
        <!-- LINK:JS:END -->

        <script src="assets/js/app.js" type="javascript"></script>
    </body>
</html>